<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
	<appSettings>
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.5" />
		<httpRuntime targetFramework="4.5" />
	</system.web>
	<system.serviceModel>
		<client />
		<bindings>
			<basicHttpBinding>
				<binding name="readifyBinding" closeTimeout="00:10:00" openTimeout="00:10:00"
				 receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false"
				 bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
				 maxBufferPoolSize="15242880" maxBufferSize="15242880" maxReceivedMessageSize="15242880"
				 textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
				 messageEncoding="Text">
					<readerQuotas maxDepth="32" maxStringContentLength="15242880"
					 maxArrayLength="15242880" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None"
						 realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
			</basicHttpBinding>
			<basicHttpsBinding>
				<binding name="readifyBinding" closeTimeout="00:10:00" openTimeout="00:10:00"
				 receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false"
				 bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
				 maxBufferPoolSize="15242880" maxBufferSize="15242880" maxReceivedMessageSize="15242880"
				 textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
				 messageEncoding="Text">
					<readerQuotas maxDepth="32" maxStringContentLength="15242880"
					 maxArrayLength="15242880" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="Transport">
						<transport clientCredentialType="None" proxyCredentialType="None"
						 realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
			</basicHttpsBinding>
		</bindings>

		<behaviors>
			<serviceBehaviors>
				<behavior>
					<!-- To avoid disclosing metadata information, set the values below to false before deployment -->
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
				
					<!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
					<serviceDebug includeExceptionDetailInFaults="false"/>
					<serviceThrottling maxConcurrentCalls="50000" maxConcurrentInstances="50000" maxConcurrentSessions="50000"/>
				</behavior>
				<behavior name="debugBehavior">
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
					<!-- httpsGetUrl="https://testkud.dnr.cc/RedPill.svc" -->
					<serviceDebug includeExceptionDetailInFaults="false"/>
					<serviceThrottling maxConcurrentCalls="50000" maxConcurrentInstances="50000" maxConcurrentSessions="50000"/>

				</behavior>

			</serviceBehaviors>
		</behaviors>

		<protocolMapping>
			<add binding="basicHttpsBinding" scheme="https"/>
		</protocolMapping>

		<services>
			<service behaviorConfiguration="debugBehavior" name="knockknock.readify.net.RedPill">
				<endpoint binding="basicHttpBinding" bindingConfiguration="readifyBinding" contract="IRedPill"/>
				<!--	<endpoint binding="basicHttpsBinding" bindingConfiguration="readifyBinding" contract="IRedPill"/>-->
				
			</service>

		</services>
	</system.serviceModel>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
