@{
    ViewBag.Title = "Contact";
}
<h2>Aleksei Kudelia</h2>

<address>
    <strong>Email:</strong>   <a href="mailto:jeenametry@fastmail.co.uk">jeenametry@fastmail.co.uk</a><br />
	<strong>Phone:</strong> +44 67 182 11 63 <br />
	<strong>Skype:</strong> PhJeenametry
</address>
