@{
    ViewBag.Title = "Contact";
}
<h2>Aleksei Kudelia</h2>

<address>
    <strong>Email:</strong>   <a href="mailto:dekko.ru@gmail.com">dekko.ru@gmail.com</a><br />
	<strong>Phone:</strong> +7 967 182 11 63 <br />
	<strong>Skype:</strong> dekko.ru
</address>